In [68]:
from pyspark.sql import SparkSession
import datetime
import os

In [69]:
spark = SparkSession.builder.appName("Spark: RDD_HW").config("spark.app.name", "Spark: RDD_HW").getOrCreate()
sc = spark.sparkContext

2.1. Please upload data from sellers.csv into sellers_rdd variable. Use the textFile method with map function: 
sc.textFile(<your_path>).map(lambda x: x.split(",")

In [70]:
current_directory = os.getcwd()
relative_path = os.path.join(current_directory, 'RDD_HW')
file_path = relative_path +'/sellers.csv'
sellers_rdd = sc.textFile(file_path).map(lambda x: x.split(","))

2.2. Take first 10 elements of sellers_rdd

In [71]:
data = sellers_rdd.take(10)
for line in data:
    print(line)

['seller_id', 'seller_name', 'daily_target']
['0', 'seller_0', '100000']
['1', 'seller_1', '83478']
['2', 'seller_2', '94114']
['3', 'seller_3', '50299']
['4', 'seller_4', '72654']
['5', 'seller_5', '28862']
['6', 'seller_6', '61878']
['7', 'seller_7', '72047']
['8', 'seller_8', '54715']

2.3. Save the first element of sellers_rdd into sellers_rdd_header variable

In [72]:
sellers_rdd_header = sellers_rdd.first()
print(f"Header: {sellers_rdd_header}")

Header: ['seller_id', 'seller_name', 'daily_target']

2.4. Filter the sellers_rdd excluding the sellers_rdd_header value, and reassign it to sellers_rdd. Hint: use the != operator. Now sellers_rdd shouldn’t contain a header.

In [73]:
sellers_rdd = sellers_rdd.filter(lambda x: x != sellers_rdd_header)
data = sellers_rdd.take(10)
for line in data:
    print(line)

['0', 'seller_0', '100000']
['1', 'seller_1', '83478']
['2', 'seller_2', '94114']
['3', 'seller_3', '50299']
['4', 'seller_4', '72654']
['5', 'seller_5', '28862']
['6', 'seller_6', '61878']
['7', 'seller_7', '72047']
['8', 'seller_8', '54715']
['9', 'seller_9', '82824']

2.5.1. Take top 3 elements of sellers_rdd in descending order.

In [74]:
top_3_descending = sellers_rdd.sortBy(lambda x: -int(x[0])).take(3)
print("Top 3 elements in descending order:")
for item in top_3_descending:
    print(item)

Top 3 elements in descending order:
['9', 'seller_9', '82824']
['8', 'seller_8', '54715']
['7', 'seller_7', '72047']

2.5.2. Take top 3 elements of sellers_rdd in ascending order.

In [75]:
top_3_ascending =  sellers_rdd.sortBy(lambda x: int(x[0])).take(3)
print("Top 3 elements in ascending order:")
for item in top_3_ascending:
    print(item)

Top 3 elements in ascending order:
['0', 'seller_0', '100000']
['1', 'seller_1', '83478']
['2', 'seller_2', '94114']

2.6. Get a number of partitions of sellers_rdd.

In [76]:
num_partitions = sellers_rdd.getNumPartitions()
print(f"Number of partitions: {num_partitions}")

Number of partitions: 2

3.1. Please create the calendar_rdd variable containing years starting from 1970 to 2099 using parallelized collections.

In [77]:
calendar_rdd = sc.parallelize(range(1970, 2100))
print("Calendar RDD:", calendar_rdd.collect())

Calendar RDD: [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099]

3.2. Filter the calendar_rdd data containing only coming years (2022, 2023..) and save it to the calendar_coming_years_rdd variable. Please don’t hardcode the current year, use Python code to generate it automatically.

In [78]:
current_year = datetime.datetime.now().year 
calendar_coming_years_rdd = calendar_rdd.filter(lambda year: year > current_year)
print("Coming Years RDD:", calendar_coming_years_rdd.collect())

Coming Years RDD: [2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099]

3.3. Filter the calendar_rdd data containing only leap years (1972…2000…2016, 2020, 2024, …) and save it to the calendar_leap_years_rdd variable.

In [79]:
calendar_leap_years_rdd = calendar_rdd.filter(lambda year: year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))
print("Leap Years RDD:", calendar_leap_years_rdd.collect())

Leap Years RDD: [1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028, 2032, 2036, 2040, 2044, 2048, 2052, 2056, 2060, 2064, 2068, 2072, 2076, 2080, 2084, 2088, 2092, 2096]

3.4. Create calendar_not_leap_years_rdd using some of SET operator and calendar_rdd and calendar_leap_years_rdd. It should contain all not leap years. Sort all values in ascending order and collect them.

In [80]:
calendar_not_leap_years_rdd = calendar_rdd.subtract(calendar_leap_years_rdd).sortBy(lambda year: year)
print("Not Leap Years RDD:", calendar_not_leap_years_rdd.collect())

Not Leap Years RDD: [1970, 1971, 1973, 1974, 1975, 1977, 1978, 1979, 1981, 1982, 1983, 1985, 1986, 1987, 1989, 1990, 1991, 1993, 1994, 1995, 1997, 1998, 1999, 2001, 2002, 2003, 2005, 2006, 2007, 2009, 2010, 2011, 2013, 2014, 2015, 2017, 2018, 2019, 2021, 2022, 2023, 2025, 2026, 2027, 2029, 2030, 2031, 2033, 2034, 2035, 2037, 2038, 2039, 2041, 2042, 2043, 2045, 2046, 2047, 2049, 2050, 2051, 2053, 2054, 2055, 2057, 2058, 2059, 2061, 2062, 2063, 2065, 2066, 2067, 2069, 2070, 2071, 2073, 2074, 2075, 2077, 2078, 2079, 2081, 2082, 2083, 2085, 2086, 2087, 2089, 2090, 2091, 2093, 2094, 2095, 2097, 2098, 2099]

3.5. Group values of calendar_rdd by millennium (use the 2000 value for grouping).

In [81]:
millennium_grouped = calendar_rdd.groupBy(lambda year: (int(year) - 2000) // 1000 * 1000 + 2000)
print("Millennium Grouped RDD:")
for key, values in millennium_grouped.collect():
    print(key,':', list(values))

Millennium Grouped RDD:
1000 : [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999]
2000 : [2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099]

3.6. Imagine that mistakenly you deleted calendar_rdd using command “del calendar_rdd”. Please try to get the same data using UNION command and save it to the new_calendar_rdd.

In [82]:
new_calendar_rdd = calendar_not_leap_years_rdd.union(calendar_leap_years_rdd).sortBy(lambda year: year)
print("New Calendar RDD (Recovered):", new_calendar_rdd.collect())

New Calendar RDD (Recovered): [1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2036, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2044, 2045, 2046, 2047, 2048, 2049, 2050, 2051, 2052, 2053, 2054, 2055, 2056, 2057, 2058, 2059, 2060, 2061, 2062, 2063, 2064, 2065, 2066, 2067, 2068, 2069, 2070, 2071, 2072, 2073, 2074, 2075, 2076, 2077, 2078, 2079, 2080, 2081, 2082, 2083, 2084, 2085, 2086, 2087, 2088, 2089, 2090, 2091, 2092, 2093, 2094, 2095, 2096, 2097, 2098, 2099]

3.7. You want to make sure that the UNION command above didn’t produce any duplicated data. Print count of elements of new_calendar_rdd and then a count of distinct values.

In [83]:
print("Count of Elements in new_calendar_rdd:", new_calendar_rdd.count())
print("Count of Distinct Values in new_calendar_rdd:", new_calendar_rdd.distinct().count())

Count of Elements in new_calendar_rdd: 130
Count of Distinct Values in new_calendar_rdd: 130

3.8. Imagine that the time machine was created, and you are transported 1000 years ahead. Apply a map function to each element of calendar_rdd and create a calendar_rdd_future.

In [84]:
calendar_rdd_future = calendar_rdd.map(lambda year: year + 1000)
print("Calendar RDD (Future):", calendar_rdd_future.collect())

Calendar RDD (Future): [2970, 2971, 2972, 2973, 2974, 2975, 2976, 2977, 2978, 2979, 2980, 2981, 2982, 2983, 2984, 2985, 2986, 2987, 2988, 2989, 2990, 2991, 2992, 2993, 2994, 2995, 2996, 2997, 2998, 2999, 3000, 3001, 3002, 3003, 3004, 3005, 3006, 3007, 3008, 3009, 3010, 3011, 3012, 3013, 3014, 3015, 3016, 3017, 3018, 3019, 3020, 3021, 3022, 3023, 3024, 3025, 3026, 3027, 3028, 3029, 3030, 3031, 3032, 3033, 3034, 3035, 3036, 3037, 3038, 3039, 3040, 3041, 3042, 3043, 3044, 3045, 3046, 3047, 3048, 3049, 3050, 3051, 3052, 3053, 3054, 3055, 3056, 3057, 3058, 3059, 3060, 3061, 3062, 3063, 3064, 3065, 3066, 3067, 3068, 3069, 3070, 3071, 3072, 3073, 3074, 3075, 3076, 3077, 3078, 3079, 3080, 3081, 3082, 3083, 3084, 3085, 3086, 3087, 3088, 3089, 3090, 3091, 3092, 3093, 3094, 3095, 3096, 3097, 3098, 3099]

3.9. Print the statistic of calendar_rdd data (count, min, max..)

In [85]:
print(f"Count of Elements:{calendar_rdd.count()}")
print(f"Minimum Year: {calendar_rdd.min()}")
print(f"Maximum Year: {calendar_rdd.max()}")
print(f"Sum of Years: {calendar_rdd.sum()}")
print(f"Mean Year: {calendar_rdd.mean()}")
print(f"Standart deviation: {calendar_rdd.stdev()}")
print(f"Variance: {calendar_rdd.variance()}")
print(f"Variance: {calendar_rdd.variance()}")
print(f"Histogram: {calendar_rdd.histogram(5)}")
print(f"Stats: {calendar_rdd.stats()}")

Count of Elements:130
Minimum Year: 1970
Maximum Year: 2099
Sum of Years: 264485
Mean Year: 2034.5
Standart deviation: 37.526657191921586
Variance: 1408.25
Variance: 1408.25
Histogram: ([1970.0, 1995.8, 2021.6, 2047.4, 2073.2, 2099], [26, 26, 26, 26, 26])
Stats: (count: 130, mean: 2034.5, stdev: 37.526657191921586, max: 2099.0, min: 1970.0)

In [86]:
spark.stop()